.alpaca-array-actionbar.alpaca-array-actionbar-top {
}

.alpaca-container-label span:hover {
    color: #337ab7;
}

.alpaca-array-actionbar.alpaca-array-actionbar-top.btn-group {
    /*display: inline-block !important;*/
}

.fielddiv {
    background-color: #f7f7f9;
}

.listfielddiv {
    background-color: #fff;
}

.form-builder h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left:10px;
}
/*
#form button.alpaca-array-actionbar-action {display:block;width:32px;}
    */
.dnnForm{width:auto;}

#form .dnnLabel {
    width: 22.075%;
}

.fb-container {
    width: 100%;
    min-height: 300px;
}

.fb-left, .fb-right {
    float: left;
    min-height: 300px;
}

.fb-left {
    width: 50%;
}

.fb-right {
    width: 50%;
}

input[type="text"], select, textarea, input[type="email"], input[type="search"], input[type="password"] {
    background: #ffffff;
    margin-bottom: 0;
}

.fieldname input{
    color:#317eac;
    font-weight:bold;
}